.slider {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 10px auto;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.slide {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}

.slide h2 {
  font-size: 85px;
  margin-left: 5%;
  margin-top: 12%;
  background-color: transparent;
  text-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.slide p {
  margin-left: 5%;
  margin-top: -5%;
  background-color: transparent;
  text-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.slide p.firstcontent {
  margin-left: 6%;
  font-size: 24px;
}

.slide p.secondcontent {
  margin-left: 70%;
  margin-top: 5%;
  font-size: 15px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.buttons {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 5%;
  right: 0;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: #ffffffa1;
  padding: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

@media screen and (max-width: 768px) {
  .slider {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  .slide {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
  }

  .slide h2 {
    font-size: 30px;
    margin-left: 5%;
    margin-top: 12%;
    background-color: transparent;
    text-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  }

  .slide p {
    margin-left: 5%;
    margin-top: -3%;
    background-color: transparent;
    text-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
  }

  .slide p.firstcontent {
    margin-left: 6%;
    font-size: 15px;
  }

  .slide p.secondcontent {
    margin-left: 20%;
    margin-top: 13%;
    font-size: 10px;
  }

  .controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .buttons {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 5%;
    right: 0;
  }

  .arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: #ffffffa1;
    padding: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .left-arrow {
    left: 0;
  }

  .right-arrow {
    right: 0;
  }
}
